.banner {
  padding: 32px;
  border-radius: 24px;
  background: var(--bg-gradient);
  display: flex;
  gap: 34px;
  width: 100%;
  max-width: 70.68%;

  &__btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__item {
    width: 100%;

    span {
      display: block;

      &:first-child {
        margin-bottom: 16px;
        font-size: 16px;
        color: var(--text-secondary);
        font-family: "med";
      }

      &:last-child {
        color: var(--text);
        font-size: 24px;
        font-family: "bold";
      }
    }
  }
}
