* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: var(--bg-accent-1-100);
    border-radius: 50px;
    padding: 0 4px;
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(139, 139, 140, 0.4);
    border-radius: 50px;
  }
}

html,
body {
  background: var(--bg-basic);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 60px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: var(--primary-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
  color: var(--text);
  border-radius: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "bold";
  transition: all 0.3s;

  &__separator {
    height: 40px;
    width: 1px;
    background: var(--bg-accent-2-80);
  }

  &__container {
    display: flex;
    margin-top: auto;
    gap: 32px;
    align-items: center;

    .btn {
      flex-shrink: 0;
    }

    &.success {
      .btn__info {
        color: var(--success);
      }
    }

    &.error {
      .btn__info {
        color: var(--error);
      }
    }
  }

  &__info {
    font-size: 12px;
    font-family: "reg";
    line-height: 16px;
  }

  &:hover {
    background: var(--dark-primary-gradient);
    opacity: 0.8;
  }

  &.primary {
    color: var(--primary);
    background: var(--primary-20);
  }

  &.success {
    color: var(--success);
    background: var(--success-20);

    .btn__info {
      color: var(--success);
    }
  }

  &.error {
    color: var(--error);
    background: var(--error-20);

    .btn__info {
      color: var(--error);
    }
  }
}
