@font-face {
  font-family: "reg";
  src: url("../fonts/Neometric-Regular.ttf");
}

@font-face {
  font-family: "med";
  src: url("../fonts/Neometric-Medium.ttf");
}

@font-face {
  font-family: "bold";
  src: url("../fonts/Neometric-Bold.ttf");
}

@font-face {
  font-family: "exbold";
  src: url("../fonts/Neometric-ExtraBold.ttf");
}
