.select-input {
  border-radius: 12px;
  border: 0.5px solid var(--bg-accent-1-100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 16px;
  min-height: 46px;
  background: var(--bg-accent-1-100);
  position: relative;
  z-index: 2;

  input {
    border: none;
    outline: none;
    position: relative;
    width: max-content;
    background: transparent;
    font-size: 14px;
    font-family: "reg";
    color: var(--text-secondary);

    &::placeholder {
      color: var(--text-secondary);
    }
  }

  &__list {
    background: var(--bg-accent-1-100);
    padding-top: 20px;
    margin-top: -20px;
    border-radius: 0 0 12px 12px;
    z-index: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr;
    transition: all 0.3s;
    & > div {
      overflow: hidden;
    }
    &.hide {
      grid-template-rows: 0fr;
    }
  }

  &__item {
    padding: 14px 16px;
    cursor: pointer;
    background: var(--bg-accent-1-100);
    font-size: 14px;
    color: var(--text);
    font-family: "reg";
    transition: background 0.3s;

    &:hover {
      background: var(--primary-20);
    }
  }
}

.select-wrap {
  position: relative;
  z-index: 10;
}
